# Exclude everything
/*

!.gitignore

# Various dirs
!.config/
!.ssh/

# VIM
!/.config/nvim
!/.vim/
!/.vimrc

# Various harmless configs
!/.archey3.cfg
!/.bash_profile
!/.bashrc
!/.gdbinit
!/.ghci
!/.psqlrc
!/.tmux.conf
