[Desktop Entry]
Comment[ru_RU]=
Comment=
Exec=yakuake
GenericName[ru_RU]=
GenericName=
Icon=system-run
MimeType=
Name[ru_RU]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
